@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">
    <h1>SkyCommCoreMVC</h1>
</div>*@
<section>
    <h2>Welcome to SkyCommCoreMVC</h2>
    <p>
        SkyCommCoreMVC is a corporate intranet web application for tracking resources
        and monitoring key performance indicators. More information about this application is
        available on the <a asp-area="" asp-controller="Home" asp-action="About">About</a> page.
    </p>
</section>
<div class="row">
    <div class="col-md-4">
        <h2>Airports</h2>
        <p>The Airports section.</p>
        <p></p><a class="btn btn-outline-primary" asp-area="" asp-controller="Airports" asp-action="Index">Airports</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipment</h2>
        <p>The Equipment section.</p>
        <p></p><a class="btn btn-outline-primary" asp-area="" asp-controller="Equipment" asp-action="Index">Equipment</a></p>
    </div>
    <div class="col-md-4">
        <h2>Personnel</h2>
        <p>The Personnel section.</p>
        <p></p><a class="btn btn-outline-primary" asp-area="" asp-controller="Personnel" asp-action="Index">Personnel</a></p>
    </div>
</div>