@model SkyCommCoreMVC.Models.Airports

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_OfficesLayout.cshtml";
}

<h1>Create</h1>

<h4>Airports</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AirportIatacode" class="control-label"></label>
                <input asp-for="AirportIatacode" class="form-control" />
                <span asp-validation-for="AirportIatacode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportIdentifier" class="control-label"></label>
                <input asp-for="AirportIdentifier" class="form-control" />
                <span asp-validation-for="AirportIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportTypeId" class="control-label"></label>
                <select asp-for="AirportTypeId" class ="form-control" asp-items="ViewBag.AirportTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AirportName" class="control-label"></label>
                <input asp-for="AirportName" class="form-control" />
                <span asp-validation-for="AirportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportLatitudeDegrees" class="control-label"></label>
                <input asp-for="AirportLatitudeDegrees" class="form-control" />
                <span asp-validation-for="AirportLatitudeDegrees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportLongitudeDegrees" class="control-label"></label>
                <input asp-for="AirportLongitudeDegrees" class="form-control" />
                <span asp-validation-for="AirportLongitudeDegrees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportElevationFeet" class="control-label"></label>
                <input asp-for="AirportElevationFeet" class="form-control" />
                <span asp-validation-for="AirportElevationFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionId" class="control-label"></label>
                <select asp-for="RegionId" class ="form-control" asp-items="ViewBag.RegionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AirportMunicipality" class="control-label"></label>
                <input asp-for="AirportMunicipality" class="form-control" />
                <span asp-validation-for="AirportMunicipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportGpscode" class="control-label"></label>
                <input asp-for="AirportGpscode" class="form-control" />
                <span asp-validation-for="AirportGpscode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportLocalCode" class="control-label"></label>
                <input asp-for="AirportLocalCode" class="form-control" />
                <span asp-validation-for="AirportLocalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportHomeLink" class="control-label"></label>
                <input asp-for="AirportHomeLink" class="form-control" />
                <span asp-validation-for="AirportHomeLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AirportWikipediaLink" class="control-label"></label>
                <input asp-for="AirportWikipediaLink" class="form-control" />
                <span asp-validation-for="AirportWikipediaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkyCommOpsLevelId" class="control-label"></label>
                <select asp-for="SkyCommOpsLevelId" class ="form-control" asp-items="ViewBag.SkyCommOpsLevelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

