    <div class="card h-100 border-secondary mb-3">
        <div class="card-header">Offices Filter Page</div>
        <img class="card-img-top" src="/images/screenshots-480px/offices-filter.jpg" alt="Offices Filter Page Image">
        <div class="card-body">
            <p class="card-text">
                The Offices Filter Page displays a summary listing of SkyComm offices located around the world.
                This listing can be filtered by selecting a dropdown list entry for the following field:
                <ul>
                    <li>
                        Country
                    </li>
                </ul>
                A details page for an individual office can be displayed by selecting the ofice name in the Name column.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <a class="btn btn-primary" asp-area="" asp-controller="Offices" asp-action="Filter">Go to the Offices Filter Page</a>
            </small>
        </div>
    </div>
