@{
    ViewData["Title"] = "SkyComm Resource Portal Quick Start Guide";
}
<h3>@ViewData["Title"]</h3>
<br />
<h4>
    The SkyComm Resource Portal Quick Start Guide
</h4>

<!-- Button trigger modal -->
<!-- Button trigger modal -->

<a href="#" class="btn btn-primary btn-sm" onclick="ShowModal()">video player</a>


@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" onclick="CloseModal()">close</a>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VideoPlayerModal" tabindex="-1" aria-labelledby="VideoPlayerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Video Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="VideoPlayerPartial" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" onclick="CloseModal()">close</a>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<p>
    <img src="~/images/skycomm-lateral-page-flow.jpg" class="img-fluid console-image" alt="Lateral Page Flow Diagram" />


</p>
<p>
    <img src="~/images/skycomm-vertical-page-flow.jpg" class="img-fluid console-image" alt="Vertical Page Flow Diagram" />


</p>

<script>

    var ShowModal = function () {

        $("#VideoPlayerModal").modal("show");

    }

    var CloseModal = function () {

        $("#VideoPlayerModal").modal("hide");

    }

</script>

