<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Console System Overview Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/console-system.jpg" alt="Console System Page Image">
    <div class="card-body">
        <p class="card-text">
            The Console System Overview Page displays an overview of the base configuration used for developing an integrated 
            console system that is deployed in either a fixed-location or mobile console system being operated within the 
            SkyComm system. These base configurations are customized based on the system's actual deployment location and required 
            operating functions.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Equipment" asp-action="ConsolesList">Go to the Console System Overview Page</a>
        </small>
    </div>
</div>
