<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Units Filter Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/units-filter.jpg" alt="Units Filter Page Image">
    <div class="card-body">
        <p class="card-text">
            The Units Search Page displays a summary listing of operational equipment units deployed within the SkyComm system.
            This listing can be filtered by selecting dropdown list entries for the following fields:
            <ul>
                <li>
                    Unit Model
                </li>
                <li>
                    Airport
                </li>
            </ul>
            A details page for an individual unit can be displayed by selecting the number in the Unit SkyComm Number column.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Units" asp-action="Filter">Go to the Units Filter Page</a>
        </small>
    </div>
</div>
