
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OfficesLayout.cshtml";
}

<div class="jumbotron">
    <h1>Offices</h1>
</div>
<section>
    <h2>Welcome to the Offices section</h2>
    <p>
        This section contains the information relative to the SkyComm
        offices and people that comprises its global operations.
    </p>
</section>
<div class="row">
    <div class="col-md-4">
        <h2>Offices  List</h2>
        <p>A listing of offices.</p>
        <p></p><a class="btn btn-default" asp-area="" asp-controller="Offices" asp-action="List">Offices List&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>A listing of employees.</p>
        <p></p><a class="btn btn-default" asp-area="" asp-controller="Employees" asp-action="Index">Employees List&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>column2</h2>
        <p>column2.</p>
        <p><a class="btn btn-default" href="#">column2 &raquo;</a></p>
    </div>
</div>

