<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Airports Filter Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/airports-Filter.jpg" alt="Airport Filter Page Image">
    <div class="card-body">
        <p class="card-text">
            The Airports Filter Page displays a summary listing of airports located around the world.
            This listing can be filtered by selecting dropdown list entries for the following fields:
            <ul>
                <li>
                    SkyComm Ops Level
                </li>
                <li>
                    Country
                </li>
                <li>
                    Airport Type
                </li>
            </ul>
            A details page for an individual airport can be displayed by selecting the airport code in the IATA Code column.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Airports" asp-action="Filter">Go to the Airports Filter Page</a>
        </small>
    </div>
</div>
