
@{
    ViewData["Title"] = "Airports Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-banner">
    <img src="~/images/logo/airports-banner.png" alt="Airports Section Logo" class="img-fluid banner-logo" />
</div>

<section class="home-index-section">
    <h2>Welcome to the Airports section</h2>
    <p>
        This section contains the information relative to the airports.
    </p>
</section>

<section class="home-index-section">
    <h3>Airports Search</h3>
    <p>A listing of airports with search capabilities.</p>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Airports" asp-action="Search">Go to the Airports Search page</a>
</section>

<section class="home-index-section">
    <h3>Airports Filter</h3>
    <p>A listing of airports with filter capabilities.</p>
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Airports" asp-action="Filter">Go to the Airports Filter page</a>
</section>

