
@{
    ViewData["Title"] = "Airports Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Airports</h1>
</div>
<section>
    <h2>Welcome to the Airports section</h2>
    <p>
        This section contains the information relative to the airports.
    </p>
</section>
<div class="row">
    <div class="col-md-4">
        <h2>Airports Search</h2>
        <p>A listing of airports with search capabilities.</p>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Airports" asp-action="Search">Airports Search</a></p>
    </div>
    <div class="col-md-4">
        <h2>Airports Filter</h2>
        <p>A listing of airports with filter capabilities.</p>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Airports" asp-action="Filter">Airports Filter</a></p>
    </div>
    <div class="col-md-4">
    </div>
</div>
