<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Unit Models Filter Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/equipment-models-filter.jpg" alt="Unit Models Filter Page Image">
    <div class="card-body">
        <p class="card-text">
            The Unit Models Filter Page displays a summary listing of cards showing the models of the operational equipment
            units deployed within the SkyComm system. This listing can be filtered by selecting dropdown list entries for the 
            following fields:
            <ul>
                <li>
                    Category
                </li>
                <li>
                    Frequency Band
                </li>
                <li>
                    Manufacturer
                </li>
            </ul>
            A details page for an individual model can be displayed by selecting the Details button in the card footer.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="UnitModels" asp-action="Filter">Go to the Unit Models Filter Page</a>
        </small>
    </div>
</div>
