<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Units Search Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/units-search.jpg" alt="Units Search Page Image">
    <div class="card-body">
        <p class="card-text">
            The Units Search Page displays a summary listing of operational equipment units deployed within the SkyComm system.
            This listing can be filtered by searching for text entered in the Search for... box in the following fields:
            <ul>
                <li>
                    Unit SkyComm Number
                </li>
                <li>
                    Unit Serial Number
                </li>
            </ul>
            A details page for an individual unit can be displayed by selecting the number in the Unit SkyComm Number column.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Units" asp-action="Search">Go to the Units Search Page</a>
        </small>
    </div>
</div>
