<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Employees Filter Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/employee-filter.jpg" alt="Employees Filter Page Image">
    <div class="card-body">
        <p class="card-text">
            The Employees Search Page displays a summary listing of employees working within the SkyComm system.
            This listing can be filtered by selecting dropdown list entries for the following fields:
            <ul>
                <li>
                    Job Title
                </li>
                <li>
                    Department
                </li>
                <li>
                    Office
                </li>
            </ul>
            A details page for an individual employee can be displayed by selecting the number in the Employee ID column.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Personnel" asp-action="Filter">Go to the Employees Filter Page</a>
        </small>
    </div>
</div>
