<div class="card h-100 border-secondary mb-3">
    <div class="card-header">Employees Search Page</div>
    <img class="card-img-top" src="/images/screenshots-480px/employee-search.jpg" alt="Employees Search Page Image">
    <div class="card-body">
        <p class="card-text">
            The Employees Search Page displays a summary listing of employees working within the SkyComm system.
            This listing can be filtered by searching for text entered in the Search for... box in the following fields:
            <ul>
                <li>
                    First Name
                </li>
                <li>
                    Last Name
                </li>
            </ul>
            A details page for an individual employee can be displayed by selecting the number in the Employee ID column.
        </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <a class="btn btn-primary" asp-area="" asp-controller="Personnel" asp-action="Search">Go to the Employees Search Page</a>
        </small>
    </div>
</div>
